<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Welcome to tropefest</title>
      <style type="text/css">
          #graph-container {
              max-width: 1600px;
              height: 1500px;
              margin: auto;
          }
      </style>
  </head>
  <body>
    <div id="navbar"></div>

    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to tropefest</h1>
      </div>
      <hr>
      <div class="row">
        <div class="span12" id="app">
          <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>
          <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>
          <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further details.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12" id="docs">{{docs|markdown}}</div>
      </div>
    </div>

    <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/lib/sigma.min.js"></script>
    <script src="/static/lib/sigma.parsers.json.min.js"></script>
    <script src="/static/lib/sigma.renderers.edgeLabels.min.js"></script>
    <script src="/static/lib/sigma.layout.forceAtlas2.min.js"></script>
    <script src="/static/lib/sigma.plugins.neighborhoods.min.js"></script>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("tropefest.app");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




